<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About</title>

    </head>
    <body>
        {{>header}}
        <p>this is all about the projects page</p>
 
 
 {{>footer}}
  </body>
</html>